@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spinner-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding-top: 30px;
    width: 100%;
}

.loading-spinner {
    width: 500px;
    height: 500px;
    background: no-repeat;
    background-size: cover;
    background-position: center;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
    border-radius: 50%;
    animation: spinner 2.5s linear infinite;
}

.spinner-container h1 {
    padding-top: 50px;
    font-size: 25px;
    font-weight: 700;
}

.spinner-container h1>span {
    color: rgba(192, 183, 232, 1);

}

.creator {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 97%;
    height: 40px;
}

@media (max-width:500px) {
    .loading-spinner {
        width: 300px;
        height: 300px;
    }
}